.category-root {
    padding-bottom: 40px;
}

.sort-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    padding: 15px 130px;
}

.sort-options {
    display: flex;
    align-items: center;
    gap: 15px;
}

.selected {
    background-color: #013678  !important;
    color: #fff !important;
}