.custom-btn {
    background: #2C66AA!important;
    box-shadow: 0px 3px 5px #00000040 !important;
    border-radius: 5px !important;
    color: #fff !important;
    min-width: 142px !important;
    display: block !important;
}

.variant {
    background-color:  #2C66AA !important;
}

.circle-progress {
    color: #fff !important;
    height: 16px !important;
    width: 16px !important;
    margin-top: 3px;
}